global:
  namespace: new-naavre

  ingress:
    domain: beta.naavre.net
    commonAnnotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      enabled: true
    redirectDomainToPaasFrontend: true

  common:
    userPods:
      extraVolumeMounts:
        - name: naa-vre-public-pvc
          mountPath: /home/jovyan/Cloud Storage/naa-vre-public
          readOnly: true
        - name: naa-vre-user-data-pvc
          mountPath: /home/jovyan/Cloud Storage/naa-vre-user-data/
          subPath: '{unescaped_username}'

  externalServices:
    argoWorkflows:
      useExternal: true
      namespace: argo
      url: https://staging.demo.naavre.net/argowf
      executor_service_account: executor
    k8sSecretCreator:
      useExternal: true
      url: https://staging.demo.naavre.net/k8s-secret-creator/1.0.0/
    keycloak:
      useExternal: true
      url: https://lifewatch.lab.uvalight.net/auth/
      realm: vre

argoWorkflows:
  enabled: false

k8sSecretCreator:
  enabled: false

keycloak:
  enabled: false

# TODO
naavreCatalogueService:
  conf:
    s3:
      endpoint_url: ""
      bucket_name: ""
      access_key: ""
      secret_key: ""

jupyterhub:
  scheduling:
    userPods:
      nodeAffinity:
        matchNodePurpose: require
  hub:
    initContainers:
      - name: git-clone-templates
        image: alpine/git
        args:
          - clone
          - --single-branch
          - --branch=lifeWatch-jh-4
          - --depth=1
          - --
          - https://github.com/QCDIS/k8s-jhub.git
          - /etc/jupyterhub/custom
        securityContext:
          runAsUser: 1000
        volumeMounts:
          - name: hub-templates
            mountPath: /etc/jupyterhub/custom
      - name: copy-static
        image: busybox:1.28
        command: ["sh", "-c", "mv /etc/jupyterhub/custom/static/* /usr/local/share/jupyterhub/static/external"]
        securityContext:
          runAsUser: 1000
        volumeMounts:
          - name: hub-templates
            mountPath: /etc/jupyterhub/custom
          - name: hub-static
            mountPath: /usr/local/share/jupyterhub/static/external
    extraVolumes:
      - name: hub-templates
        emptyDir: {}
      - name: hub-static
        emptyDir: {}
    extraVolumeMounts:
      - name: hub-templates
        mountPath: /etc/jupyterhub/custom
      - name: hub-static
        mountPath: /usr/local/share/jupyterhub/static/external
    extraConfig:
      templates.py: |
        c.JupyterHub.template_paths = ['/etc/jupyterhub/custom/templates']
  singleuser:
    storage:
      dynamic:
        storageClass: zfs-generic-nfs
  vlabs:
    openlab:
      enabled: true
    laserfarm:
      enabled: true
    biodt-hackathon25:
      enabled: true
    blue-carbon:
      enabled: true
    quadfavl:
      enabled: true
    veluwe-forest-model:
      enabled: true
    cnr-biomass:
      enabled: true
    cnr-phytoplankton:
      enabled: true
    jupyter-quality:
      enabled: true
    pclake:
      enabled: true
    phytoplankton:
      enabled: true
    ravl:
      enabled: true
    reprolab:
      enabled: true
    veluwe-proto-dt:
      enabled: true
    waddenzee-proto-dt:
      enabled: true
    wiresits:
      enabled: true
    biotisan-euromarec:
      enabled: true
    als-tree-ind:
      enabled: true
