global:
  namespace: naavre

  ingress:
    domain: example.com
    seaweedfsS3Domain: nil
    commonAnnotations: {}
    tls:
      enabled: false

  secrets:
    k8sSecretCreator:
      apiToken: <a random token>
    keycloak:
      adminPassword: <a random password>
      naavreClientSecret: <a random secret>
      # Adding users is optional. To not create any, remove the `users` entry.
      users:
        - username: my-user
          password: <a random password>
      postgresql:
        password: <a random password>
    seaweedfs:
      catalogueBucket:
        access_key: nil
        secret_key: nil
    naavreCatalogueService:
      secretKey: <a random secret>
      auth:
        superuser:
          email: "admin@example.org"
          username: admin
          password: <a random password>
      postgresql:
        password: <a random password>
    naavrePaasFrontend:
      secretKey: <a random secret>

  externalServices:
    s3:
      useExternal: true
      catalogueBucket:
        endpoint_url: "https://s3.example.org"
        bucket_name: "my-bucket"
        access_key: "my-access-key"
        secret_key: "my-secret-key"

seaweedfs:
  enabled: false

jupyterhub:
  vlabs:
    openlab:
      slug: openlab
      title: "NaaVRE Open Lab"
      labels: []
      description: "Open experimentation with virtual labs"
      dirname: "Open Lab"
      image:
        name: ghcr.io/naavre/flavors/naavre-fl-vanilla-jupyter
        tag: v0.1.1
      configuration:
        base_image_tags_url: https://github.com/NaaVRE/flavors/releases/download/v0.1.1/base_image_tags.json
        module_mapping_url: https://raw.githubusercontent.com/QCDIS/NaaVRE-conf/main/module_mapping.json
        cell_github_url: "<Repo created from template https://github.com/QCDIS/NaaVRE-cells, eg. https://github.com/User/Repo>"
        cell_github_token: "<Token generated following the instructions from the template>"
        registry_url: "<Container Registry URL, eg ghcr.io/user/repo>"
        git_public: {}
    otherLab:
      slug: other-lab
      title: "Another lab"
      labels: []
      description: "Another virtual lab to demonstrate that we support several"
      dirname: "Another Lab"
      image:
        name: ghcr.io/naavre/flavors/naavre-fl-vanilla-jupyter
        tag: v0.1.1
      configuration:
        base_image_tags_url: https://github.com/NaaVRE/flavors/releases/download/v0.1.1/base_image_tags.json
        module_mapping_url: https://raw.githubusercontent.com/QCDIS/NaaVRE-conf/main/module_mapping.json
        cell_github_url: "<Repo created from template https://github.com/QCDIS/NaaVRE-cells, eg. https://github.com/User/Repo>"
        cell_github_token: "<Token generated following the instructions from the template>"
        registry_url: "<Container Registry URL, eg ghcr.io/user/repo>"
        git_public: {}
