global:
  namespace: new-naavre

  ingress:
    domain: alpha.naavre.net
    commonAnnotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      enabled: true
    redirectDomainToPaasFrontend: true

keycloak:
  image: ghcr.io/naavre/keycloak:26.4.2-v0.1.0

jupyterhub:
  vlabs:
    openlab:
      enabled: true
      # Overrides the configuration in virtual-labs/values-openlab.public.yaml
      configuration:
        cell_github_url: https://github.com/NaaVRE/cells-test
        registry_url: ghcr.io/naavre/cells-test
    laserfarm:
      enabled: true
      # Overrides the configuration in virtual-labs/values-laserfarm.public.yaml
      configuration:
        cell_github_url: https://github.com/NaaVRE/cells-test
        registry_url: ghcr.io/naavre/cells-test
    biodt-hackathon25:
      enabled: true
      # Overrides the configuration in virtual-labs/values-biodt-hackathon25.public.yaml
      configuration:
        cell_github_url: https://github.com/NaaVRE/cells-test
        registry_url: ghcr.io/naavre/cells-test
