global:
  namespace: new-naavre

  ingress:
    domain: alpha.naavre.net
    seaweedfsS3Domain: s3.alpha.naavre.net
    commonAnnotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      enabled: true
    redirectDomainToPaasFrontend: true

  common:
    userPods:
      extraVolumeMounts:
        - name: naa-vre-public-pvc
          mountPath: /home/jovyan/Cloud Storage/naa-vre-public
          readOnly: true
        - name: naa-vre-user-data-pvc
          mountPath: /home/jovyan/Cloud Storage/naa-vre-user-data/
          subPath: '{unescaped_username}'

keycloak:
  image: ghcr.io/naavre/keycloak:26.4.2-v0.1.0

jupyterhub:
  vlabs:
    openlab:
      enabled: true
      # Overrides the configuration in virtual-labs/values-openlab.public.yaml
      configuration:
        cell_github_url: https://github.com/NaaVRE/cells-test
        registry_url: ghcr.io/naavre/cells-test
    laserfarm:
      enabled: true
      # Overrides the configuration in virtual-labs/values-laserfarm.public.yaml
      configuration:
        cell_github_url: https://github.com/NaaVRE/cells-test
        registry_url: ghcr.io/naavre/cells-test
    biodt-hackathon25:
      enabled: true
      # Overrides the configuration in virtual-labs/values-biodt-hackathon25.public.yaml
      configuration:
        cell_github_url: https://github.com/NaaVRE/cells-test
        registry_url: ghcr.io/naavre/cells-test
