global:
  namespace: naavre

  ingress:
    domain: example.com
    seaweedfsS3Domain: s3.example.com
    commonAnnotations: {}
    tls:
      enabled: false

  secrets:
    k8sSecretCreator:
      apiToken: <a random token>
    keycloak:
      adminPassword: <a random password>
      naavreClientSecret: <a random secret>
      # Adding users is optional. To not create any, remove the `users` entry.
      users:
        - username: my-user
          password: <a random password>
      postgresql:
        password: <a random password>
    seaweedfs:
      catalogueBucket:
        access_key: <a random secret>
        secret_key: <a random secret>
    naavreCatalogueService:
      secretKey: <a random secret>
      auth:
        superuser:
          email: "admin@example.org"
          username: admin
          password: <a random password>
      postgresql:
        password: <a random password>
    naavrePaasFrontend:
      secretKey: <a random secret>

  externalServices:
    argoWorkflows:
      useExternal: true
      namespace: "argo"
      url: "https://example.org/argowf"
      token: "Bearer <API token>"
      executor_service_account: "executor"
    k8sSecretCreator:
      useExternal: true
      url: "https://example.org/k8s-secret-creator/1.0.0/"
      token: "<API token>"

argoWorkflows:
  enabled: false

k8sSecretCreator:
  enabled: false

jupyterhub:
  vlabs:
    openlab:
      slug: openlab
      title: "NaaVRE Open Lab"
      labels: []
      description: "Open experimentation with virtual labs"
      dirname: "Open Lab"
      image:
        name: ghcr.io/naavre/flavors/naavre-fl-vanilla-jupyter
        tag: v0.1.9
      configuration:
        base_image_tags_url: https://github.com/NaaVRE/flavors/releases/download/v0.1.9/base_image_tags.json
        module_mapping_url: https://raw.githubusercontent.com/QCDIS/NaaVRE-conf/main/module_mapping.json
        cell_github_url: "<Repo created from template https://github.com/QCDIS/NaaVRE-cells, eg. https://github.com/User/Repo>"
        cell_github_token: "<Token generated following the instructions from the template>"
        registry_url: "<Container Registry URL, eg ghcr.io/user/repo>"
        git_public: {}
