.idea/

naavre/charts/*.tgz

values/rendered/
values/*.yaml
values/virtual-labs/*.yaml
!values/Chart.yaml
!values/values.yaml
!values/values-example-*.yaml
!values/values-*.sops.yaml
!values/virtual-labs/*.sops.yaml
*.dec

*.drawio.bkp

!values/values-deploy-k8s-staging-1-public.yaml
!values/values-deploy-k8s-test-1-public.yaml
!values/virtual-labs/values-openlab-public.yaml
