jupyterhub:
  vlabs:
    ravl:
      enabled: false
      slug: ravl
      title:  RAVL collaborative virtual labs
      communities: [naavre]
      labels: [tutorial]
      description:  Vertical profiling of biological scatterers
      dirname: RAVL
      image:
        name: ghcr.io/naavre/flavors/naavre-fl-ravl-jupyter
        tag: v0.0.44
      configuration:
        base_image_tags_url: https://github.com/NaaVRE/flavors/releases/download/v0.0.44/base_image_tags.json
        module_mapping_url: https://raw.githubusercontent.com/QCDIS/NaaVRE-conf/main/module_mapping.json
        cell_github_url: https://github.com/NaaVRE/cells-vl-ravl
        registry_url: ghcr.io/naavre/cells-vl-ravl
        log_queries: true
        git_public:
          repo: https://github.com/NaaVRE/RAVL-virtual-lab.git
          branch: main
        default_file_path: Virtual Labs/RAVL/Git public/README.md
