jupyterhub:
  vlabs:
    pclake:
      enabled: false
      slug: pclake
      title:  PCLake virtual lab
      communities: [naavre, lter-life]
      labels: []
      description:  "PCLake model: study the trophic state of freshwater lakes"
      dirname: PCLake
      image:
        name: ghcr.io/naavre/flavors/naavre-fl-pclake-jupyter
        tag: v0.0.46
      configuration:
        base_image_tags_url: https://github.com/NaaVRE/flavors/releases/download/v0.0.46/base_image_tags.json
        module_mapping_url: https://raw.githubusercontent.com/QCDIS/NaaVRE-conf/main/module_mapping.json
        cell_github_url: https://github.com/NaaVRE/cells-vl-pclake
        registry_url: ghcr.io/naavre/cells-vl-pclake
        log_queries: true
        git_public:
          repo: https://github.com/LTER-LIFE/PCLake_NaaVRE_workflow.git
          branch: main
        default_file_path: Virtual Labs/PCLake/Git public/README.md
