{{- if .Values.seaweedfs.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ .Values.seaweedfs.s3.existingConfigSecret }}"
  labels:
    {{- include "naavre.labels" . | nindent 4 }}
stringData:
  {{- $bucketName := index .Values.seaweedfs.filer.s3.createBuckets 0 "name" }}
  seaweedfs_s3_config: '{"identities":[{"name":"{{ $bucketName }}","credentials":[{"accessKey":"{{ .Values.global.secrets.seaweedfs.access_key }}","secretKey":"{{ .Values.global.secrets.seaweedfs.secret_key }}"}],"actions":["Read:{{ $bucketName }}","Write:{{ $bucketName }}","List:{{ $bucketName }}"]}]}'
{{- end }}
