name: test-minikube-script
on:
  push:
    branches:
      - '**'
  schedule:
    - cron: '0 4 5,25 * *'


jobs:
  test-minikube-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: start minikube
        id: minikube
        uses: medyagh/setup-minikube@v0.0.19
        with:
          addons: ingress,ingress-dns

      - name: Try the cluster
        run: kubectl get pods -A

      - name: Install SOPS
        uses: mdgreenwald/mozilla-sops-action@v1
        with:
          version: 'latest'

      - name: Run setup-tests.sh
        shell: bash -l {0}
        run: |
          chmod +x ./scripts/setup-tests.sh 
          ./scripts/setup-tests.sh -f values/values-deploy-minikube.yaml